
@{
    ViewBag.Title = "ErrorPage";
    Layout = "~/Views/Login/_LoginLayout.cshtml";
}
<div>
    <h5 style="font-weight:bold;">The given URL is not valid. Please contact admin for verification.</h5>
</div>


